<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单渲染</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="form.js"></script>
</head>
<body>
	<div id="app">
		<!-- 简单的文本绑定 v-model -->
		<p>#文本</p>
		<input v-model="message" type="text" placeholder="Edit it me">
		<p>message is :{{message}}</p>

		<p>#多行文本</p>
		<p>multiline message is:</p>
		<p  style="white-space: pre">{{ multimessage }}</p>
		<textarea name="" v-model="multimessage" id="" cols="30" rows="10"></textarea>

		<p>#复选框</p>
		<input type="checkbox" id="checkbox" v-model="check">
		<label for="checkbox">{{ check }}</label>

		<p>#多个复选框绑定到同一个数组</p>

		<input type="checkbox" id="check3" value="Tony" v-model="checkArr">
		<label for="check3">Tony</label>
		<input type="checkbox" id="check2"  value="Tom" v-model="checkArr">
		<label for="check2">Tom</label>
		<input type="checkbox" id="check1" value="Join" v-model="checkArr">
		<label for="check1">Join</label>
		<p>checkArr Is : {{checkArr}}</p>

		<p>#单选按钮</p>
		<input type="radio" value="First" id="First" v-model="picked">
		<label for="First">First</label>

		<input type="radio" value="Second" id="Second" v-model="picked">
		<label for="Second">Second</label>

		<input type="radio" value="Third" id="Third" v-model="picked">
		<label for="Third">Third</label>
		<p>picked:{{ picked }}</p>	


		<p>#选择列表 (绑定到一个数组)</p>
		<select name="" id="" v-model="selected">
			<option value="AAAAAAAA">AAAAAAAA</option>	
			<option value="BBBBBBBB">BBBBBBBB</option>	
			<option value="CCCCCCCC">CCCCCCCC</option>	
			<option value="DDDDDDDD">DDDDDDDD</option>	
			<option value="EEEEEEEE">EEEEEEEE</option>	
		</select>
		<p>列表：{{ selected }}</p>


		<p>#for 动态渲染列表</p>
		<select name="" id="" v-model="selected_v">
			<option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
		</select>
		<p>列表：{{ selected_v }}</p>


		<p>#复选框 赋值绑定实例中的值</p>
		<input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">

		<p>toggle ：{{toggle}}</p>

		<p>#单选框 赋值选中绑定Vue实例中的值</p>
		<input type="radio" v-model="picked" name="picked" v-bind:value="a" >
		<input type="radio" v-model="picked" name="picked" v-bind:value="b" >
		<p>picked：{{ picked }}</p>
<!-- 
		// 当选中时
		app.toggle === app.a
		// 当没有选中时
		app.toggle === app.b -->

		<p>#选择列表设置</p>
		<select name="" v-model="selectedObj" id="">
			<option v-bind:value="{number:a}">aaaaaa</option>
		</select>
		<p>{{ selectedObj.number }}</p>
		<!-- // 当选中时
typeof vm.selected // -> 'object'
vm.selected.number // -> aaaaaa -->


		<p>#lazy 修饰符 将input更新转变为change更新 意思是说确定修改点击回车之后会随着更改</p>
		<!-- 在 "change" 而不是 "input" 事件中更新 -->
		<input type="text" v-model.lazy="message">
		<p>{{ message }}</p>

		<p>#number 修饰符 将输入的内容转化为整数number类型 </p>
		<input type="number" v-model.number="message">
		<p>{{ message }}</p>

		<p>#trim 修饰符过滤首尾空格字符</p>
		<input type="text" v-model.trim="message">
		<p>{{ message }}</p>
	</div>		
</body>
</html>